{% include 'includes/header.twig' %}

<div id="app">
    <div class="main">
        <h1>TODO</h1>
        <input type="text" placeholder="Enter task here">
        <button class="place-todo">Enter</button>
    </div>
    <div class="todo-list">

    </div>
</div>

{% include 'includes/footer.twig' %}