body {
    font-family: 'Indie Flower', cursive;
}

#app {
    margin: 0 auto;
    width: 80%;
    border: 1px solid grey;
    padding: 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);

    .main {
        text-align: center;

        input {
            width: 50%;
            height: 25px;
        }
    }
}